<h1>Add Lead</h1>

{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}

{# Вывод сообщений об успехе или ошибке #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}